doctype html
html(class="no-js" lang="ru")

    include ../components/head/head.pug
    include ../components/heading/heading.pug
    include ../components/quote/quote.pug
    include ../components/advertising/advertising.pug
    include ../components/conclusion/conclusion.pug
    include ../components/feedback/feedback.pug
    include ../components/posts/posts.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        main.page__wrapper

            //- Include your components here
            +heading()
            +quote()
            +advertising()
            +conclusion()
            +feedback()
            +posts()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
