.textarea {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.2;
    &__placeholder {
        position: absolute;
        top: 1.12rem;
        left: 1.2rem;
        color: $placeholder_primary;
        transition: 0.3s;
        pointer-events: none;
    }
    &__field {
        width: 100%;
        min-height: 7.5rem;
        padding: 1.62rem 1.2rem 0.56rem 1.2rem;
        color: $text_secondary;
        border-radius: 0.375rem;
        border: 1px solid $border_primary;
        background: #ffffff;
        transition: box-shadow 0.2s, border 0.2s;
        resize: none;
        &::placeholder {
            opacity: 0;
        }
        &:focus {
            outline: 0;
        }
        &:hover,
        &:focus {
            border: 1px solid $border_secondary;
            box-shadow: 0 0 0 1px rgb(127 127 127);
        }
        &:focus + .input__placeholder,
        &:not(:placeholder-shown) + .input__placeholder {
            top: 0.5rem;
        }
    }
}
