// File for scss-vars.
// For example: main colors, paddings and so on.
$text_primary: #202326;
$text_secondary: #222222;
$placeholder_primary: #777777;
$background_primary: #ededed;
$border_primary: #e6e6e6;
$border_secondary: #7f7f7f;
$blue: #0062ff;

$mobile: 767px;
$desktop: 768px;
