mixin advertising(data)
    aside.advertising
        .advertising__container
            p.advertising__text Реклама на #[a(href="http://blabla.com" target="_blank") blabla.com]
            .advertising__image
                img(src="%=static=%img/content/ad.jpg" alt="")
