mixin heading(data)
    section.heading
        .container.heading__container
            h1.heading__title Путь JavaScript
            p.heading__description.desktop-hidden Можно выделить три основных направления для прогресса JavaScript Middle...
            .heading__hero
                time(datetime='2023-04-12').heading__date
                    span.heading__day 12
                    span.heading__month Апреля
                .heading__image
                    img(src="%=static=%img/content/books.jpg" alt="")
                p.heading__description.mobile-hidden Можно выделить три основных направления для прогресса JavaScript
